/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #121212;
  --ifm-color-primary-dark: #121212;
  --ifm-color-primary-darker: #121212;
  --ifm-color-primary-darkest: #121212;
  --ifm-color-primary-light: #121212;
  --ifm-color-primary-lighter: #121212;
  --ifm-color-primary-lightest: #121212;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #121212;
  --ifm-color-primary-dark: #121212;
  --ifm-color-primary-darker: #121212;
  --ifm-color-primary-darkest: #121212;
  --ifm-color-primary-light: #121212;
  --ifm-color-primary-lighter: #121212;
  --ifm-color-primary-lightest: #121212;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  .hero__title{
    color: #fff;
  }
  .hero__subtitle {
    color: #fff;
  }
  a {
    color: #fff;
    font-weight: 500;
  }
  a:hover {
    color: #D44554;
  }
  .breadcrumbs__link {
    color: #fff;
  }
  h4 {
    display: inline;
    margin-right: 15px;
  }
}
